<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>题刻申报时间间接口说明</title>
</head>
<body>
<ul>
    <li>
        <p>GET：<a href="/api/subject/opentime/info">/api/subject/opentime/info</a></p>
        <p>描述：课题申报时限</p>
        <p>参数：无</p>
    </li>
    <li>
        <p>POST：<a href="/api/subject/opentime/update">/api/subject/opentime/update</a></p>
        <p>描述：根据id修改课题参与者</p>
        <p>参数：desc(年度和名称)，start_time(开始时间，格式：'yyyy-MM-dd')，end_time(结束时间，格式：'yyyy-MM-dd')
        </p>
    </li>
</ul>
</body>