<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>课题进度接口说明</title>
</head>
<body>
<ul>
    <li>
        <p>POST：<a href="/api/subject/schedule/add">/api/subject/schedule/add</a></p>
        <p>描述：添加课题进度</p>
        <p>参数：subject_id(课题，关联课题表)，start_time (开始时间)，end_time (结束时间)，
            content (工作内容)，name (名称)，host (负责人)
        </p>
    </li>
    <li>
        <p>GET：<a href="/api/subject/schedule/list/{subject_id}">/api/subject/schedule/list/{subject_id}</a></p>
        <p>描述：查看课题进度</p>
        <p>参数：subject_id(课题，关联课题表)</p>
    </li>
    <li>
        <p>GET：<a href="/api/subject/schedule/show/{id}">/api/subject/schedule/show/{id}</a></p>
        <p>描述：根据id查看课题进度</p>
        <p>参数：id </p>
    </li>
    <li>
        <p>POST：<a href="/api/subject/schedule/update">/api/subject/schedule/update</a></p>
        <p>描述： 根据id修改课题进度</p>
        <p>参数：subject_id(课题id，关联课题表)，start_time(开始时间，可为空)，end_time(结束时间，可为空)，
            content(工作内容，可为空)，name(名称，可为空)，host(负责人，可为空)
        </p>
    </li>
    <li>
        <p>POST：<a href="/api/subject/schedule/delete">/api/subject/schedule/delete</a></p>
        <p>描述：根据传入id删除课题进度 (可批量删除)</p>
        <p>参数：subject_id(课题id，关联课题表)，id</p>
    </li>
</ul>
</body>
</html>
