#parse('/subject/show/menu_include.html')
<p>推荐人意见</p>
<h3>推荐人一信息</h3>
<table>
    <tr>
        <td>推荐人一姓名：</td>
        <td>$!recommender.name</td>
    </tr>
    <tr>
        <td>职务/职称：</td>
        <td>$!recommender.position</td>
    </tr>
    <tr>
        <td>学科与专长：</td>
        <td>$!recommender.profession</td>
    </tr>
    <tr>
        <td>工作单位：</td>
        <td>$!recommender.unit</td>
    </tr>
    <tr>
        <td>主持过的课题名称与立项单位：</td>
        <td>$!recommender.subname</td>
    </tr>
    <tr>
        <td>推荐意见：</td>
        <td>$!recommender.recommend</td>
    </tr>
</table>
<h3>推荐人二信息</h3>
<table>
    <tr>
        <td>推荐人二姓名：</td>
        <td>$!recommender.nameS</td>
    </tr>
    <tr>
        <td>职务/职称：</td>
        <td>$!recommender.positionS</td>
    </tr>
    <tr>
        <td>学科与专长：</td>
        <td>$!recommender.professionS</td>
    </tr>
    <tr>
        <td>工作单位：</td>
        <td>$!recommender.unitS</td>
    </tr>
    <tr>
        <td>主持过的课题名称与立项单位：</td>
        <td>$!recommender.subnameS</td>
    </tr>
    <tr>
        <td>推荐意见：</td>
        <td>$!recommender.recommendS</td>
    </tr>
</table>